

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-right: 10px; /* Space between logo and text */
}

